<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<div th:insert="fragments/fragments :: nav">
</div>
<div>
    <h3>Here is your profile Information</h3>
    <img src="./static/profilePicture.png" />
    <p>First Name:<span th:text="${thisuser.firstName}"></span></p>
    <p>Last Name:<span th:text="${thisuser.lastName}"></span></p>
    <p>Date of Birth:<span th:text="${thisuser.dateOfBirth}"></span></p>
    <p>Bio:<span th:text="${thisuser.bio}"></span></p>

    <ul>
        <li th:each="post : ${thisuser.posts}" th:text="${post}"></li>
    </ul>

</div>
</body>
</html>