<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<div th:insert="fragments/fragments :: nav">
</div>
<!--<div>-->
<!--    <h3>Here is your profile Information</h3>-->
<!--    <img src="static/profilePicture.png" />-->
<!--    <p>First Name:<span th:text="${user.firstName}"></span></p>-->
<!--    <p>Last Name:<span th:text="${user.lastName}"></span></p>-->
<!--    <p>Date of Birth:<span th:text="${user.dateOfBirth}"></span></p>-->
<!--    <p>Bio:<span th:text="${user.bio}"></span></p>-->

<!--</div>-->


</body>
</html>