<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<div th:replace="fragments/fragments :: nav">
</div>
<form method="POST" action="/users">
    <label for="firstName">First Name: </label><input name="firstName" id="firstName" /><br>
    <label for="lastName"> Last Name: </label><input name="lastName" id="lastName" /><br>
    <label for="username">Username:</label><input  name="username" id="username" /><br>
    <label for="password">Password:</label><input type="password"  name="password" id="password" /><br>
    <label for="dateOfBirth">Date of Birth:</label><input type="date" name="dateOfBirth" id="dateOfBirth" /><br>
    <label for="bio">Bio:</label><input  name="bio" id="bio" /><br>
    <input type="submit" />
</form>

</body>
</html>